$main-color: #80deea;
$light-color: #b4ffff;
$dark-color: #4bacb8;
$error: #a94442;

*{
	font-family: sans-serif;
}

header{
	.navbar-default{
		background-color: $main-color;
		.navbar-nav{
			li{
				a{
					&:hover{
						background-color: $dark-color;
					}
				}
				&.active{
					a, a:hover, a:focus{
						background-color: $light-color;
					}
				}
			}
		}
		.user-name{
			display: inline-block;
			height: 50px;
			line-height: 50px;
			font-weight: 600;
			font-style: italic;
		}
	}
}
main{
	min-height: calc(100vh - 217px);
}

.form-hint{
	color: $error;
	font-size: 12px;
}
.card-itm{
	margin-bottom: 15px;
}



footer{
	background-color: $light-color;
	padding: 15px;
	margin-top: 15px;
	ul{
		list-style: none;
		padding: 0;
		-webkit-column-count: 3;
    	-moz-column-count: 3; 
    	column-count: 3;
	}

}

