* {
  font-family: sans-serif; }

header .navbar-default {
  background-color: #80deea; }
  header .navbar-default .navbar-nav li a:hover {
    background-color: #4bacb8; }
  header .navbar-default .navbar-nav li.active a, header .navbar-default .navbar-nav li.active a:hover, header .navbar-default .navbar-nav li.active a:focus {
    background-color: #b4ffff; }
  header .navbar-default .user-name {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    font-weight: 600;
    font-style: italic; }

main {
  min-height: calc(100vh - 217px); }

.form-hint {
  color: #a94442;
  font-size: 12px; }

.card-itm {
  margin-bottom: 15px; }

footer {
  background-color: #b4ffff;
  padding: 15px;
  margin-top: 15px; }
  footer ul {
    list-style: none;
    padding: 0;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3; }
