<!DOCTYPE html>
<html lang="en" ng-app="testApp">

<head>
    <meta charset="UTF-8">
    <title>Smarketly test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- build:css css/style.css -->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <!-- endbuild -->
</head>

<body ng-controller="testController">
    <header>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Logo</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li ui-sref-active="active"><a ui-sref="home">Index</a></li>
                        <li ui-sref-active="active"><a ui-sref="about">About</a></li>
                        <li><a href="#!contact">Contact</a></li>
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <li ng-hide="user" ui-sref-active="active"><a ui-sref="login">Login</a></li>
                        <li class="user-name">{{user}}</li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main ui-view></main>
    <footer>
        <nav class="container">
            <div class="row">
                <div class="col-xs-8">
                    <ul>
                        <li><a href="#">Lorem1</a></li>
                        <li><a href="#">Lorem2</a></li>
                        <li><a href="#">Lorem3</a></li>
                        <li><a href="#">Lorem4</a></li>
                        <li><a href="#">Lorem5</a></li>
                        <li><a href="#">Lorem6</a></li>
                        <li><a href="#">Lorem7</a></li>
                        <li><a href="#">Lorem8</a></li>
                        <li><a href="#">Lorem9</a></li>
                        <li><a href="#">Lorem10</a></li>
                    </ul>
                </div>
                <address class="col-xs-4">
                    <strong>Example Inc.</strong>
                    <br> 1234 Example Street
                    <br> Antartica, Example 0987
                    <br>
                    <a href="tel:123456789">(123) 456-7890</a>
                </address>
            </div>
        </nav>
    </footer>
    <!-- build:js js/bootstrap.js -->
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- endbuild -->
    <!-- build:js js/angular.js -->
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="js/testApp.js"></script>
    <script src="js/testController.js"></script>
    <!-- <script src="js/formValidationController.js"></script> -->
    <!-- endbuild -->
</body>

</html>