<div class="container" ng-hide="user">
        <div class="row">
            <div class="col-xs-12">
                <h2>Log in:</h2>
                <p>Enter email and password or <strong><a ui-sref="register">register</a></strong></p>
            </div>

        </div>
        <form novalidate>
        <div ng-class="{'has-error' : validObj.emailError}" class="form-group" id="email-group">
            <label>Email address
                <input type="email" class="form-control" ng-model="formData.contactEmail" placeholder="Enter email">
            </label>
            <div class="form-hint" ng-show="validObj.emailError">Email shoud be in format "******@*****.***"</div>
        </div>
        <div ng-class="{'has-error' : validObj.passwordError}" class="form-group" id="password-group">
            <label>Password
                <input type="password" class="form-control" ng-model="formData.contactPassword" placeholder="Password">
            </label>
            <div class="form-hint" ng-show="validObj.passwordError">Password shoud contain from 6 to 15 characters and\or numbbers</div>
        </div>
        <button role="button" class="btn btn-primary" ng-disabled="!formData.contactEmail || !formData.contactPassword" ng-click="submitContact()">Log in</button>
        
    </form>
</div>

<div class="container" ng-show="user">
    <div class="row col-xs-12">Welcome {{user}}</div>
    <button class="btn btn-default" ng-click="logOut()">Log out</button>
</div>