<div class="container">
        <div class="row">
            <col-xs-12>
                <h2>Registration:</h2>
            </col-xs-12>
        </div>
        <form novalidate>
        <div ng-class="{'has-error' : validObj.nameError}" class="form-group" id="email-group">
            <label>User name
                <input type="text" class="form-control" ng-model="newUser.userName" placeholder="Enter email">
            </label>
            <div class="form-hint" ng-show="validObj.nameError">Name shoud contain from 2 to 30 characters</div>
        </div>
        <div ng-class="{'has-error' : validObj.emailError}" class="form-group" id="email-group">
            <label>Email address
                <input type="email" class="form-control" ng-model="newUser.userEmail" placeholder="Enter email">
            </label>
            <div class="form-hint" ng-show="validObj.emailError">Email shoud be in format "******@*****.***"</div>
        </div>
        <div ng-class="{'has-error' : validObj.passwordError}" class="form-group" id="password-group">
            <label>Password
                <input type="password" class="form-control" ng-model="newUser.userPass" placeholder="Password">
            </label>
            <div class="form-hint" ng-show="validObj.passwordError">Password shoud contain from 6 to 15 characters and\or numbbers</div>
        </div>
        <div ng-class="{'has-error' : validObj.confPasswordError}" class="form-group" id="password-group">
            <label>Password
                <input type="password" class="form-control" ng-model="newUser.confirmPass" placeholder="Password">
            </label>
            <div class="form-hint" ng-show="validObj.confPasswordError">Passwords are different</div>
        </div>
        <button role="button" class="btn btn-primary" ng-disabled="!newUser.userName || !newUser.userEmail || !newUser.userPass || !newUser.confirmPass" ng-click="submitNewUser()">Register</button>
        
    </form>
</div>